packages:
  yum:
    postgresql92-devel: []
    postgresql92-libs: []
    python26-devel: []
    gcc-c++: []
    libffi-devel: []
    libxslt-devel: []
    libxml2-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "saleor.settings"
    PYTHONPATH: "/opt/python/current/app/saleor:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "saleor/wsgi.py"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"

