files:
  "/tmp/superuser.py":
    mode: "000755"
    owner: root
    group: root
    content: |
      from django.core.management.base import BaseCommand
      from django.contrib.auth.models import User
      import os

      class Command(BaseCommand):

          def handle(self, *args, **options):
              if not User.objects.filter(username="admin").exists():
                  User.objects.create_superuser("annie", "annie@littlewonderclothing.com", os.getenv(SUPERUSER_PASS))


packages:
  yum:
    postgresql92-devel: []
    postgresql92-libs: []
    python26-devel: []
    gcc-c++: []
    libffi-devel: []
    libxslt-devel: []
    libxml2-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []

commands:
  01_yum:
    command: yum install nodejs npm --enablerepo=epel -y

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "saleor.settings"
    PYTHONPATH: "/opt/python/current/app/saleor:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "saleor/wsgi.py"
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "saleor/static/"

container_commands:
  01_migrate:
      command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
  02_npm:
    command: "npm install"
  03_grunt:
    command: "./node_modules/.bin/grunt"
  04_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
